@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background: #080808;
    color: whitesmoke;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  flex: 0 0 20%; /* Adjust the width as needed */
  background-color: #b30631;
  height: 100%; /* Set the height to 100% of viewport height */
}

.content {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.box {
  flex: 0 0 calc(20% - 20px);
  aspect-ratio: 1/1;
  background-color: rgb(59, 59, 59);
  width: 300px;
  height: 50px;
  margin: 10px;
}

@media (max-width: 375px) {
  .container {
    flex-direction: column;
  }
  .sidebar {
    flex: 0 0 100%;
    height: auto;
    min-height: 500px;
  }
  .content {
    flex-direction: column;
  }
  .box {
    flex: 0 0 calc(100%-20px);
    width: 200px;
    height: auto;
    margin: 10px;
  }
}

@media (min-width: 376px) and (max-width: 758px) {
  .box {
    flex-basis: calc(33.33% - 20px);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .sidebar {
    flex: 0 0 25%;
  }
  .box {
    flex: 0 0 calc(25% - 20px)
  }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .sidebar {
    flex: 0 0 20%;
  }
  .box {
    flex: 0 0 calc(20% - 20px);
  }
}

@media (min-width: 1367px) and (max-width: 1920px) {
  .sidebar {
    flex: 0 0 15%;
  }
  .box {
    flex: 0 0 calc(15% - 20px);
  }
}

@media (min-width: 1921px) {
  .sidebar {
    flex: 0 0 10%;
  }
  .box {
    flex: 0 0 calc(10% - 20px);
  }
}
